* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #e1decd;
    font-family: "adapter-mono-pe-variable", sans-serif;
    font-variation-settings: 'wght' 600, 'slnt' 0, 'ital' 0, 'BORD' 300;
    height: 100vh;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
}

.logo {
    width: 15.645em;
    padding-left: 2em;
}

nav {
    padding-top: 1%;
    padding-right: 3%;
    font-size: 2em;
    font-weight: 10;
}

nav a {
    color: #5377b3;
}

nav a:hover {
    color: #35598e;
}

.pagecontainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

.hero {
    height: auto;
    width: 100%;
}

.hero img {
    width: 100%;
}

.center {
    position: absolute;
    bottom: 13em;
}

.overlaytext {
    color: #e1decd;
    position: absolute;
    align-items: center;
    top: 28.125em;
}

footer {
    height: 8.5%;
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #5377b3;
    font-variation-settings: "BORD" 300, "ital" 0, "slnt" 0, "wght" 500;
}

.contact {
    display: flex;
    justify-content: flex-start;
    gap: 3em;
    padding-left: 3%;
    padding-bottom: 1%;
}

.name {
    margin-right: 3%;
}

.name h4{
    border: 1.5px solid #5377b3;
    border-radius: 20px;
    padding: 2px 10px 2px;
}

/* about */

.about {
    background-color: #5377b3;
    display: flex;
    flex-direction: row;
}

.bio {
   color: aliceblue;
   padding: 4em 4em;
   font-size: 24px;
}

.org {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: 100vh;
   width: 100vw;
    border-bottom: 2px solid #5377b3;
}

.org img {
    height: 100%;
    width: 100%;
}

.ksw  {
    width: 50%;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 4%;
}



.info {
    padding-top: 7%;
    padding-right: 5%;
    padding-left: 5%;
    color: #5377b3;
}

.info h1 {
    font-family: eight, sans-serif;
    font-weight: 400;
    font-size: 3em;
}

.info p {
    font-size: 1.25em;
}

.info a {
    background-color: #5377b3;
    color: #e1decd;
    font-size: 1.25em;
    padding: 0.125em 2em;
    border-radius: 30px;
}

.info a:hover {
    background-color: #e1decd;
    color: #5377b3;
    border: 3px solid #5377b3;
}

/* events */

.day1, .day3{
    background-color: #5377b3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    color: #e1decd;
}


.event-container {
    padding-left: 5%;
    padding-top: 2%;
}


.event-container h1 {
    font-family: eight, sans-serif;
    font-weight: 400;
    font-size: 7em;
}

.event-container img{
    width: 100;
    height: auto;
}

.event {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-right: 9%;
    padding-bottom: 3%;
    border-bottom: 1px solid #e1decd;
}

.event-left {
    min-width: 14em;
    justify-content: center;
    font-variation-settings: "BORD" 300, "ital" 0, "slnt" 0, "wght" 800;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 15px;
}

.event-left .date {
    font-size: 2.063em;
}

.event-right {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
}

.event-title {
    font-size: 1.25em;
    margin: 1% 0;
}

.event-description {
    font-size: 13px;
}

.day2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    color: #5377b3;
}

.event2 {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-right: 9%;
    padding-bottom: 3%;
    border-bottom: 1px solid #5377b3;
}

.meeting img {
}

.day2header {
    font-family: eight, sans-serif;
    font-weight: 400;
    font-size: 7em;
}




/* shop */

.banner {
    background-color: #5377b3;
    height: 10em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.banner h1 {
    font-family: eight, sans-serif;
    font-weight: 400;
    font-size: 6.25em;
    color: #e1decd;
}

.shopitems {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 7% 4% 5%;
    width: 100%;
    height: auto;
    border-bottom: 0.125em solid #5377b3;
}

.item {
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: center;
}

.item img {
    border: 0.1875em solid #5377b3;
    border-radius: 50px;
    position: relative;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.item img:hover {
    transform: scale(1.1);
}

.item-description {
    padding-top: 5%;
}

.cart-btn {
    margin-top: 2%;
    padding: 2% 0;
    background-color: #5377b3;
    color: #e1decd;
    width: 40%;
    align-self: center;
    border-radius: 0.9375em;
    position: relative;
}

.cart-btn:hover {
    transform: translateY(5px);
    background-color: #35598e
}


/* media quieries */

@media screen and (max-width: 768px) {

    .shopitems {
        flex-direction: column;
    }

    .item {
        width: 70%;
    }

}